<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="JS" value="/Scripts/" />
    <add key="grid-gallery" value="/grid-gallery/" />
    <add key="video-player" value="/video-player/" />
    <add key="CostumesPictures" value="/Img/Costumes/" />
    <add key="CostumesThumb" value="/Img/Costumes/Thumbnails/" />
    <add key="AwardsPictures" value="/Img/Awards/" />
    <add key="AwardsThumb" value="/Img/Awards/Thumbnails/" />
    <add key="Pictures" value="/Img/Gallery/" />
    <add key="PicturesThumb" value="/Img/Gallery/Thumbnails/" />
    <add key="TheBestPictures" value="/Img/TheBest/" />
    <add key="TheBestThumb" value="/Img/TheBest/Thumbnails/" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="20480" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Default.aspx" />
    </authentication>
  </system.web>
  <location path="Admin/Content">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="SamodivaDBEntities" connectionString="metadata=&quot;res://*/Data Source.Model.csdl|res://*/Data Source.Model.ssdl|res://*/Data Source.Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=tango.rdb.superhosting.bg;initial catalog=samodiva_SamodivaDB;persist security info=True;user id=samodiva_sa;password=Ethno@2405;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="SamodivaDBEntities" connectionString="metadata=&quot;res://*/Data Source.Model.csdl|res://*/Data Source.Model.ssdl|res://*/Data Source.Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SamodivaDB;persist security info=True;user id=konstantin;password=Konstantin2405;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>